body {
    font-family: Arial;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;

    min-height: 100vh;
    overflow-y: auto;
}

body::before {
  content: "";
  position: fixed;
  inset: -60%;
  background-image: url("New Piskel.png");
  background-repeat: repeat;
  background-size: 65px;
  z-index: -1;
}

header {
    background-color: #f5f5f5;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-link {
    position: fixed;
    top: 15px;
    left: 15px;
}


.imageContainer {
       width:200px; 
       height:200px; 
       background-image: url("/SCIENCE-GAMES/New Piskel.png");
 }

h1 {
    margin: 0;
    font-size: 90px;
    z-index: 2;
}

.question {
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 8px;
}

.input-box {
    width: 400px;
    height: 40px;
    font-size: 18px;
    padding: 5px;
}

.generate-btn {
    font-size: 20px;
    padding: 10px 25px;
    cursor: pointer;
    margin-top: 15px;
}

img:not(header img) {
    position: relative;
    left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    transition: transform 0.2s;
    margin: 20px;
    position: relative;
    left: 20px;
    max-width: 500px;
    margin-top: 20px;
}

.image-container {
    text-align: left;
    margin-left: 40px;
}

img:hover:not(header img) {
    transform: scale(1.05);
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
}